# Ignore node_modules for both backend and frontend
/backend/node_modules/
/frontend/node_modules/
# Ignore environment variable files
/backend/.env
/frontend/.env

# prod env + secrets
backend/.env.prod
backend/dbConfig/serviceAccountKey.json
backend/dbConfig/firebaseAdmin.js
